$defaultTagBackgrounds: #732865, #df7988, #0177b8, #ffb900, #6b69d6;

:root {
    --accent-color: #732865;
    --body-background: #F1E6EF;
    // --body-text-color: #FFF;
    // --body-background: #F9CEE2; // importante
    // --accent-color-darker: #bdc3c7;

    // --card-background: #EEC1F2;
}
